* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #2C2B3D;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  color: white;
  min-height: 100vh;
}

#page {
  width: 1100px;
  margin: 0 auto;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 70px;
  margin-bottom: 101px;
}

ul {
  list-style: none;
  display: flex;
  gap: 64px;
}

li a {
  text-decoration: none;
  color: white;
  font-family: 'JetBrains Mono', monospace;
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
  cursor: pointer;
}

li a:hover {
  font-weight: bold;
  color: #00BFA6;
}

main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 157px;
}

h1 {
  font-family: 'JetBrains Mono', monospace;
  margin-bottom: 59px;
  font-size: 36px;
}

span {
  color: #00BFA6;
  font-weight: bold;
}

main p {
  color: #C2C2C2;
}

#text {
  width: 605px;
}

#line {
  width: 570px;
  height: 0px;
  margin: 0 auto 30px;
  border: 1px solid #00BFA6;
}

footer {
  font-family: 'JetBrains Mono', monospace;
  font-weight: 500;
  font-size: 14px;
}

footer a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

#padlock {
  position: fixed;
  margin: 20px;
  left: 0;
  bottom: 0;
}